version: '3'
services:
  web:
    logging:
      driver: journald
    image: tootsuite/mastodon:{{ MASTODON_VERSION }}
    restart: always
    env_file: .env.production
    command: bash -c "rm -f /mastodon/tmp/pids/server.pid; bundle exec rails s -p 3000"
    networks:
      - external_network
      - internal_network
    healthcheck:
      test: ['CMD-SHELL', 'wget -q --spider --proxy=off localhost:3000/health || exit 1']
    ports:
      - 3000:3000
    depends_on:
      - pgbouncer
    environment:
      - 'MAX_THREADS=10'
      - 'WEB_CONCURRENCY=3'
    volumes:
      - ./public/system:/mastodon/public/system

  streaming:
    logging:
      driver: journald
    image: tootsuite/mastodon:{{ MASTODON_VERSION }}
    restart: always
    env_file: .env.production
    command: node ./streaming
    networks:
      - external_network
      - internal_network
    healthcheck:
      test: ['CMD-SHELL', 'wget -q --spider --proxy=off localhost:4000/api/v1/streaming/health || exit 1']
    environment:
      - 'DB_POOL=25'
    ports:
      - 4000:4000
    depends_on:
      - pgbouncer
