version: '3'
services:
{% if ENV_PRODUCTION['STATSD_ADDR'] is defined %}
  statsd:
    restart: always
    image: prom/statsd-exporter
    command: --statsd.mapping-config=/tmp/statsd_mapping.yml
    volumes:
      - /root/statsd-mapping.yml:/tmp/statsd_mapping.yml
    networks:
      - internal_network
      - external_network
    ports:
      - 9102:9102
      - "127.0.0.1:9125:9125"
{% endif %}
  pgbouncer:
    restart: always
    image: edoburu/pgbouncer
    networks:
      - internal_network
      - external_network
    environment:
      - 'DB_HOST={{ REAL_DB_HOST }}'
      - 'DB_PORT={{ REAL_DB_PORT }}'
      - 'DB_NAME={{ ENV_PRODUCTION["DB_NAME"] }}'
      - 'DB_USER={{ ENV_PRODUCTION["DB_USER"] }}'
      - 'DB_PASSWORD={{ ENV_PRODUCTION["DB_PASS"] }}'
      - 'SERVER_TLS_SSLMODE=prefer'
{% if RUN_REDIS is defined %}
  redis:
    restart: always
    image: redis:7
    command: redis-server /data/redis.conf
    networks:
      - internal_network
      - external_network
    ports:
      - 6379:6379
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
    volumes:
      - ./redis:/data
{% endif %}

networks:
  external_network:
  internal_network:
    internal: true
