  
  sidekiq-default:
    image: tootsuite/mastodon:{{ MASTODON_VERSION }}
    restart: always
    env_file: .env.production
    command: bundle exec sidekiq -q default -c 5
    depends_on:
      - pgbouncer
    networks:
      - external_network
      - internal_network
    volumes:
      - ./public/system:/mastodon/public/system
      - ./config:/opt/mastodon/config
    environment:
{% if DB_POOL is defined %}
      - 'DB_POOL={{ DB_POOL }}'
{% endif %}
    healthcheck:
      test: ['CMD-SHELL', "ps aux | grep '[s]idekiq\ 6' || false"]
